*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEFA99;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h5, h2, a{
    color: #50752D;
}

h2{
    font-size: 42px;
}

nav{
    width: 100%;
    height: 44px;
    background-color: #C4FEA9;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    padding: 10px 70px;
}

a{
    text-decoration: none;
}

.naziv{
    margin-left: 70px;
}

.activate{
    background-color: #487F2E !important;
    color: #FEFA99 !important;
}

.slika {
    height: 50px;
    width: 50px;
}

.table p{
    text-decoration: underline;
    color: blueviolet;
    cursor: pointer;
    margin: 0;
}

.table td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

#img1, #img2, #img3, #img4, #img5, #img6{
    padding-top: 10px;
}

.table {
    background-color: #C4FEA9;
    width: 450px;
    text-align: center;
    margin: 0px auto;
}

table{
    border-collapse: separate !important;
}

table, th, td {
    border: 1px double grey;
}

footer{
    margin-top: auto;
}

footer p{
    margin: 0;
    padding: 10px;
}