*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header .c1{
    background-color: #264C73;
    color: #fff;
}

span, header p{
    display: inline-block;
    padding: 15px 25px;
    margin-bottom: 0;
}

span{
    border-left: 2px solid #fff;
}


table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 50%;
}

#Tabela{
    margin-left: auto;
    margin-right: auto;
}

.boja{
    background-color: #C0C0C0;
}

footer{
    padding-top: 14px;
    margin-top: auto;
    background-color: #264C73;
    color: #fff;
}

footer a{
    color: #fff;
}